[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
chromadb = "*"
langchain-community = "*"
tiktoken = "*"
esprima = "*"
tqdm = "*"
gitpython = "*"
psutil = "*"
pip = "*"
install = "*"
gpt4all = "*"
fastembed = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
